body {
    text-align: left;
    background-color: #f2f2f2;
}

.wrap {
    overflow: hidden;
    position: relative;
}

.slices {
  height: auto;
  text-align: center;
  padding: 20px 0 0px 0;
}

.slices img {
  width: 120px;
}
  
.content {
  width: 60%;
  max-width: 600px;
  margin: 30px auto 50px auto;
}

.title {
  text-align: center;
  margin: 0 auto 50px;
}

.title h1 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.title h3 {
  width: 60%;
  margin: 0 auto;
  padding-top: 0;
}

.new-datapoint {
  background-color: rgb(243, 238, 229);
  padding: 10px 20px 30px;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  margin-bottom: 30px;
}

.statistics {
  margin-bottom: 50px;
}

.statistics table, .statistics table tbody, .statistics table tbody tr {
  width: 100%;
}

.statistics table, .statistics th, .statistics td {
  padding: 7px;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 0px 0.25em;
}

.statistics table td {
  width: 50%;
}

.lists{
    position: relative;
    white-space:nowrap;
}

#chartdiv {
  width : 100%;
  height : 400px;
  font-size : 11px;
  } 

.chart {
  width: 100%;
}

.footer-wrapper {
  border-top: 1px solid #c2c2c2;
}

.footer {
  margin: 0 auto;
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0 30px;
}

@media (max-width : 420px) {    
  .content {
    width: auto;
    max-width: 600px;
    margin: 30px auto 50px auto;
  }
}

